@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.header__margin {
    margin-bottom: 15px;
}

.spacer {
    height: 142px;

    @include mobile {
        height: 127px;

        // &.home {
        //     height: 230px;
        // }
    }
}

.cookie_spacer {
    position: relative;
    height: 0px;
    transition: height 0.5s;

    &.isActive {
        height: 37px;
        transition: unset;
    }
}

.header__wrapper {
    width: 100%;
    // background: rgb(255,255,255);
    // background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 30%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,1) 100%);
    
    // @include mobile {
    //     background: rgb(255,255,255);
    //     background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 30%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,1) 100%);
    // }
}

.line {
    position: fixed;
    top: 0;
    z-index: 10000;
    height: 7px;
    width: 100%;
    background-color: $accentFull;
}

.header {
    position: relative;
    height: auto;
    padding: 25px 40px 0 40px;
    background-color: $white;

    @include mobile {
        padding: 10px 20px 0 20px;
    }

    @include tablet {
        height: auto;
    }

    @include desktop {
        height: auto;
    }

    @include desktopXL {
        height: auto;    
    }

    // &__links {
    //     display: flex;
    //     justify-content: space-between;
    //     background-color: $white;
    //     align-items: center;
    //     width: 100%;

    //     &--utility {
    //         display: block;
    //         position: absolute;
    //         right: 0;
    //         top: 0px;
    //     }

    //     &--logo {
    //         width: auto;
    //     }
    // }

    &__content {
        display: flex;
        flex-flow: row wrap;
        padding: $contentpadding;

            @include tablet {
                padding: $contentpaddingLarge;
                height: auto;
                flex-flow: row nowrap;
            }

            @include desktop {
                padding: $contentpaddingLarge;
                height: auto;
                flex-flow: row nowrap;
            }

            @include desktopXL {
                padding: $contentpaddingLarge;
                height: auto;
                flex-flow: row nowrap;
            }

        &--text {
            width: 100%;

            @include tablet {
                width: 45%;
            }

            @include desktop {
                width: 55%;
            }

            @include desktopXL {
                width: 55%;
            }

            span {
               width: 100%; 
            }
            
            .text__big {
                margin-top: 1em;
            }    
        }

        &--image {
            display: block;
            width: 94vw;
            height: 94vw;
            border-radius: 20px;
            right: $contentpadding;
            object-fit: cover;
            margin-top: 2em;
            margin-bottom: -100px;

            @include tablet {
                display: block;
                position: absolute;
                width: 320px;
                height: 426px;
                border-radius: 20px;
                right: $contentpaddingLarge;
                margin-top: 0em;
                margin-bottom: 0px;
            }

            @include desktop {
                display: block;
                position: absolute;
                width: 500px;
                height: 666px;
                border-radius: 20px;
                right: $contentpaddingLarge;
                margin-top: 0em;
                margin-bottom: 0px;
            }

            @include desktopXL {
                display: block;
                position: absolute;
                width: 630px;
                height: 840px;
                border-radius: 20px;
                right: $contentpaddingLarge;
                margin-top: 0em;
                margin-bottom: 0px;
            }
        }
    }
}

// .home .header {
//     @include mobile {
//         padding: 10px 20px 0 30px;
//     }
// }