@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.info {
  background: rgba(0, 80, 236, 0.8);
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  color: $white;
  padding: 40px;
  max-width: 480px;
  
  h3 {
    font-size: 23px;
    line-height: 30px;

    @include mobile {
      font-size: 14px;
      line-height: 22px;
    }

    a {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $black;
        // font-style: italic;
        // text-decoration: underline;
        // padding-left: 10px;
      }

    }
  }

  @include mobile {
    position: absolute;
    width: 80%;
    bottom: unset;
    left: unset;
    margin: 0 calc(10%);
    // margin-bottom: -100px;
    padding: 20px;
  }
}
