@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.gallery_wrapper {
    pointer-events: none;

    @include mobile {
        margin-top: 40px;
    }

    ::v-deep.flickity-viewport {
        height: calc(100vh - 4em - 142px);

        @include mobile {
            height: calc(100vw - 7em);
        }

        @include tablet {
            height: calc(100vw - 7em);
        }
    }

    .image {
        min-width: 100%;
        max-height: calc(100vh - 4em - 142px);
        object-fit: cover;

        @include mobile {
            max-height: calc(100vw - 7em);
        }

        @include tablet {
            max-height: calc(100vw - 7em);
        }
    }
}