@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

nav {
    position: relative;
}

.nav {
    width: auto;
    height: 95px;
    padding: 0px;

    @include mobile {
        height: 55px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-bottom: 15px;

        @include mobile {
            display: flex;
            text-align: center;
            align-items: center;
            padding-top: 10px;
            padding-left: 6px;
            margin-bottom: 5px;
        }
    }

    .item {
        display: flex;  
        // height: 35px;
        width: auto;
        color: $black;
        margin-bottom: 0px;

        @include mobile {
            margin-right: 12px;

            &:last-child {
                margin-right: 0px;
            }
        }

        a {
            &:hover {
                color: $accent;
                transition: 0.2s;
            }
        }
    }
}

.headroom {
    &--unpinned {
        .logo {
            transition: 0.3s;
        }
    }
}

.logo {
    position: relative;
    height: 172px;
    width: 28px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    @include mobile {
            height: 183px;
            width: 36px;
    }
    
    a {
        text-decoration: none;
        color: $accent;

        &:hover {
            transition: 0.2s;

            p {
                color: $black;
            }
        }

        p {
            font-size: 30px;
        }
    }
}

p.text__menu {
    width: auto;
    font-weight: normal;
}

nav li a {
  display: block;
  text-decoration: none;
}

nav li {
        a.nuxt-link-exact-active  {
            p {
                // font-weight: bold;
                color: $accentFull;
                @include mobile {
                    font-weight: 400;
                    color: $accentFull;
            }
        }
    }

        a.nuxt-link-active  {
            p {
                // font-weight: bold;
                color: $accentFull;
                @include mobile {
                    font-weight: 400;
                    color: $accentFull;
            }
        }
    }
}