@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

nav {
    position: relative;
}

.nav {
    width: auto;
    height: 110px;
    padding: 0px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .item {
        display: flex;  
        // height: 35px;
        width: auto;
        color: $black;
        margin-bottom: 0px;

        a {
            &:hover {
                // text-decoration: underline;
                color: $accent;
                transition: 0.2s;
            }
        }
    }
}

.logo { 
    position: relative;
    height: 165px;
    width: 28px;

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    
    a {
        text-decoration: none;
        color: $accent;

        &:hover {

            p {
                // text-decoration: underline;
                color: $black;
            }
            transition: 0.2s;
        }

        p {
            font-size: 30px;
        }
    }
}

p.text__menu {
    // height: 35px;
    width: auto;
    font-weight: normal;
}

nav li a {
  display: block;
  text-decoration: none;
}

nav li {
    a.nuxt-link-exact-active  {
        p {
            font-weight: bold;
        }
    }

    // a.nuxt-link-active  {
    //     color: $white;
    //     background-color: $black;
    // }
}
