@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.container {
    display: flex;

    &__columns {
    width: 100%;
    margin-bottom: 0em;

        .content {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            page-break-inside: avoid;
            margin-bottom: 5em;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            align-content: stretch;
            flex-wrap: nowrap;

            &:nth-child(2n) {
                flex-direction: row-reverse;

                .teaser__box {
                    left: 0px;
                    height: auto;
                }

                .subtext {
                    position: absolute;
                    left: 10%;
                }
            }

            &:last-child {
                flex-direction: column-reverse;
                align-items: center;
                margin-bottom: 40px;

                .teaser__box {
                    height: auto;
                    left: 50%;
                    margin-left: -275px;
                    bottom: -40px;
                }

                img {
                    width: 100%;
                }
            }
        }
    } 
    
    .subtext {
        font-size: 10px;
        color: #989898;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: absolute;
        top: 605px;
        width: 90%;
        height: 22px;

        background-image: url('~assets/images/info_icon.svg');
        background-repeat: no-repeat;
        padding-left: 30px;  /* width of the image plus a little extra padding */
        // display: block;  /* may not need this, but I've found I do */

        &::v-deep p {
            margin-top: 2px;
            line-height: 12px;
        }
    }
}

.teaser__box {
    background: $accent;
    position: relative;
    right: 0px;
    height: auto;
    width: 550px;
    position: absolute;
    padding: 60px 100px;
    color: $white;
}

p {
    margin-bottom: 1.5em;
}

h3 {
    margin-bottom: 30px;
}

img {
    width: 90%;
    height: 600px;
    object-fit: cover;
}