@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

footer {
  margin-top: 60px;
  margin-bottom: 100px;
}

a { 
  color: $black;
  text-decoration: none;

    &:hover {
      color: $accent;
    }
}

.line {
  height: 4px;
  background-color: $accent;
  display: flex;
  margin-bottom: 15px;
}

.title  {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.container {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: auto;
  color: $black;
  background-color: $white;
  justify-content: center;
  bottom: 0;
  position: relative;
  margin: auto;

    @include tablet {
        flex-wrap: wrap;
    }

    @include desktop {
        flex-flow: column wrap;
    }

    @include desktopXL {
        flex-flow: column wrap;
    }

  &__top {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1em;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 100%;
    }

    @include desktopXL {
        width: 100%;
    }
  }
}

.contact {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column wrap;
  flex-direction: column;

  p {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
  }
}

.legal {
  display: flex;
  width: 20%;
  height: 5em;
  flex-direction: column;
  padding-top: $contentpadding;
  padding-right: $contentpadding;

  @include tablet {
        order: 3;
        flex-direction: row;
        width: 50%;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: $contentpaddingLarge;
    }

    @include desktop {
        order: 3;
        flex-direction: row;
        width: 50%;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: $contentpaddingLarge;
    }

    @include desktopXL {
        order: 3;
        flex-direction: row;
        width: 50%;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: $contentpaddingLarge;
    }

  .text__small {
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
}

.text__footer {
  grid-column: span 2;
  margin-bottom: 0.5em;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 100%;
    }

    @include desktopXL {
        width: 100%;
    }
}
