//Transition/content styling is applied in the collection components
//Reason: Individual needs for different content types

@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.accordion {
    width: 100%;
    border-top: 2px solid $black;
    // border-bottom: 2px solid $black;
    margin-top: 40px;
    // padding-top: $contentpadding;
    // padding-bottom: $contentpadding;

    .title {
        margin: 0;
        margin-top: 7px;
        margin-bottom: 5px;
        font-size: 20px;;
    }

    .content .text{
        font-size: 16px;
        margin: 0;
    }

        &__title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            // padding-top: $contentpadding;
            // padding-bottom: $contentpadding;
            cursor: pointer;

            .right {
                height: 23px;
                width: 10px;
            }

            .plus {
                font-size: 10px;
                font-weight: 300;
                transform: rotate(90deg);
                transition-duration: 200ms;
                transform-origin: 50% 40%;
        }
    }


    .rotate {
        transform: rotate(0deg);
        transition-duration: 300ms;
        transform-origin: 50% 40%;
    }

    &__body {
        overflow: hidden;
        border-top: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
