@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

#content {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  
  @include mobile {
    flex-wrap: wrap;
  }
}

.text_box {
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 60px;

  @include mobile {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
  }
}

.image_box{
  position: fixed;
  margin-left: calc(350px + 40px);
  width: calc(100% - 14em - 350px - 40px);
  height: calc(100vh - 4em - 142px);
  overflow: hidden;

  @include mobile {
    position: relative;
    margin-left: 0;
    width: calc(100%);
    margin: 40px 0;
    height: calc(100vw - 7em);
  }
}
