@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.container {

    &__columns {
        margin-bottom: 0em;
        display: flex;
        flex-flow: row wrap;

        margin-bottom: -5%;

        .content {

            position: relative;

            @include mobile {
                width: 100%;
                margin-bottom: 5%;
            }

            @include tablet {
                width: 47.5%;
                margin-right: 5%;
                margin-bottom: 5%;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            @include desktop {
                width: 30%;
                margin-right: 5%;
                margin-bottom: 5%;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }

            @include desktopXL {
                width: 30%;
                margin-right: 5%;
                margin-bottom: 5%;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }

            .sticky {
                width: 100%;
                padding-bottom: 130%;
                background-color: $accent;
            }

            .box {
                position: absolute;
                bottom: 0;
                width: 100%;
                color: $white;
                padding: 30px;
            }

        }
    } 
}

p {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

h3 {
    margin-bottom: 10px;
    font-size: 30px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}