/*
Z-Index of items
Helps us keep in view who is in front and how far
*/

.cookie-consent {
    z-index: 10001;
}

.line {
    z-index: 10000;
}

.nav {
    z-index: 998;
}

.header__wrapper {
    z-index: 998;
}

.info {
    z-index: 100;
}